<!-- Calculator:Begin -->
<div id="calculator" class="view">

	<!-- Calculator:Wrap -->
	<div id="wrap">

		<!-- Calculator:Page -->
		<div class="page">

			<!-- Calculator:Back -->
			<div class="back">
				<button type="button">
					<img src="application/assets/images/appliance/back.png" height="46" />
				</button>
			</div>

			<div class="content">

				<div class="heading">
					<div class="title">
						<img src="application/assets/images/calculator/icon_titling.jpg" height="24" />
						<p>Calculadora de materiais</p>
						<div class="clear"></div>
					</div>
					<div class="clear"></div>
				</div>

				<img class="divisor" src="application/assets/images/appliance/divisor.gif" height="2" />

				<div class="nav">
					<div class="tip">
						<p>Selecione qual tipo de material você gostaria de calcular:</p>
					</div>

					<ul class="menu">
						<li>
							<button type="button" class="nav-tile">
								<img class="tiles" src="application/assets/images/calculator/icon_tiles.png" height="20" />
								<span>Pisos e<br />revestimentos</span>
							</button>
						</li>
						<li>
							<button type="button" class="nav-tile">
								<img class="tint" src="application/assets/images/calculator/icon_tint.png" height="44" />
								<span>Tinta</span>
							</button>
						</li>
						<li>
							<button type="button" class="nav-tile">
								<img class="air" src="application/assets/images/calculator/icon_air.png" height="21" />
								<span>Ar condicionado</span>
							</button>
						</li>
						<div class="clear"></div>
					</ul>
					<div class="clear"></div>
				</div>

			</div>

			<!-- Calculator:Subnav -->
			<div class="subnav">
				<div class="content">
					<div class="background"></div>

					<div class="nav">
						<div class="tip">
							<p>Selecione uma das opções abaixo.</p>
						</div>

						<ul class="menu">
							<li>
								<button type="button" class="sub-tile">
									<span>Pisos</span>
								</button>
							</li>
							<li>
								<button type="button" class="sub-tile">
									<span>Revestimentos</span>
								</button>
							</li>
							<div class="clear"></div>
						</ul>
					</div>
				</div>
			</div>

		</div>

		<!-- Calculator:Calculator -->
		<div class="calculator">

			<div class="input">

				<div class="heading">
					<a href="javascript: void(0);" class="close">
						<img src="application/assets/images/calculator/icon_close.png" width="56" height="56" />
					</a>
					<div class="title">
						<img src="application/assets/images/calculator/icon_titling.jpg" height="24" />
						<p>Title</p>
						<div class="clear"></div>
					</div>
					<img class="divisor" src="application/assets/images/appliance/divisor.gif" height="2" />
					<div class="type">
						<p>Type</p>
					</div>
					<div class="clear"></div>
				</div>

				<form>
					<div class="fields">
						<p class="tip">Adicione as medidas.</p>
						<div class="labels row">
							<div class="column cellpad">Largura( m ):</div>
							<div class="column">Comprimento( m ):</div>
							<div class="clear"></div>
						</div>
						<div class="form">
						</div>
						<div class="clear"></div>
					</div>

					<div class="calculate">
						<button type="button">
							<img src="application/assets/images/calculator/icon_calculate.gif" width="105" height="92" />
							<span>Calcular</span>
						</button>
						<div class="clear"></div>
					</div>
				</form>
			
			</div>

			<div class="output">

				<div class="content">

					<div class="heading">
						<a href="javascript: void(0);" class="close">
							<img src="application/assets/images/calculator/icon_close.png" width="56" height="56" />
						</a>
						<div class="title">
							<img src="application/assets/images/calculator/icon_titling.jpg" height="24" />
							<p>Title</p>
							<div class="clear"></div>
						</div>
						<img class="divisor" src="application/assets/images/appliance/divisor.gif" height="2" />
						<div class="type">
							<p>Resultado!*</p>
						</div>
						<div class="clear"></div>
					</div>

					<div class="calculation">
						<div class="result">
						</div>
						<div class="clear"></div>
					</div>

					<div class="clear"></div>
				</div>

				<div class="info">
					<a href="javascript: void(0);" class="tip">
						<img src="application/assets/images/calculator/icon_tip.gif" height="47" />
					</a>
					<a href="javascript: void(0);" class="save">
						<img src="application/assets/images/calculator/icon_save.gif" height="47" />
					</a>
					<div class="panel">
						<a href="javascript: void(0);" class="asterisc">
							<img src="application/assets/images/calculator/icon_asterisc.png" height="18" />
						</a>
						<p class="tips">
							Este é um cálculo aproximado. É importante sempre comprar 10% a mais da quantidade calculada para realização de recortes.
							<br />
							- Você vai precisar também de:
							<br />
							- Rejunte
							<br />
							- Argamassa (1 saco de 20kg para cada 4m2)
							<br />
							- Separador
						</p>
						<p class="alert">
							Consulte nossos vendedores.
						</p>
						<div class="clear"></div>
					</div>
				</div>

				<div class="clear"></div>
			</div>

		</div>

		<div class="clear"></div>

	</div>

</div>