

<!-- Colors:Begin -->
<div id="colors" class="view">

	<!-- Colors:Wrap -->
	<div id="wrap">

		<!-- Colors:Page -->
		<div class="page">

			<!-- Colors:Back -->
			<div class="back">
				<button type="button">
					<img src="application/assets/images/appliance/back.png" height="46" />
				</button>
			</div>

			<div class="content">

				<div class="heading">
					<div class="title">
						<img src="application/assets/images/colors/icon_titling.jpg" height="39" />
						<p>Visualizar cores</p>
						<div class="clear"></div>
					</div>
					<div class="clear"></div>
				</div>

				<img class="divisor" src="application/assets/images/appliance/divisor.gif" height="2" />

				<div class="nav">
					<div class="tip">
						<p>Dê uma cara nova à sua parede.</p>
					</div>

					<ul class="menu">
						<li>
							<button type="button" class="nav-tile btMenu1">
								<img class="colors" src="application/assets/images/colors/icon_colors.png" height="62" />
								<span>Visualizar<br />cores</span>
							</button>
						</li>
						<li>
							<button type="button" class="nav-tile btMenu2">
								<img class="enviroments" src="application/assets/images/colors/icon_enviroments.png" height="55" />
								<span>Meus ambientes</span>
							</button>
						</li>
						<div class="clear"></div>
					</ul>
					<div class="clear"></div>
				</div>

				<div class="advertise">
					<img src="application/assets/images/colors/logo_sherwin.png" height="86" />
				</div>

			</div>

			<!-- Colors:Subnav -->
			<div class="subnav" style="display: none;">

				<!-- ROOMS -->
				<div class="content" style="left: 0%; width: 100%;">
					<div class="background"></div>

					<div class="nav">
						<div class="tip">
							<p>Selecione um ambiente:</p>
						</div>

						<ul class="menu">
							<li>
								<button type="button" class="sub-tile btRooms">
									<span>Cozinha</span>
								</button>
							</li>
							<li>
								<button type="button" class="sub-tile btRooms">
									<span>Quarto</span>
								</button>
							</li>
							<li>
								<button type="button" class="sub-tile btRooms">
									<span>Banheiro</span>
								</button>
							</li>
							<li>
								<button type="button" class="sub-tile btRooms">
									<span>Sala</span>
								</button>
							</li>
							<div class="clear"></div>
						</ul>

					</div>

				</div>

				<!-- ROOMS IMAGENS -->
				<div class="contentImages" style="left: 100%; width: 100%;">
					<div class="background"></div>

					<div class="top">
						<div class="button">
							<img src="application/assets/images/colors/button_back.png" height="12" />
						</div>
						<div class="title">
							Cozinha
						</div>
					</div>

					<div class="images">

						<div class="button">
							<img src="application/assets/images/colors/ico_ok.png" height="100" />
						</div>

						<div class="swiper"></div>

						<div class="pagination"></div>
						
					</div>

				</div>


				<!-- MY ROOMS -->
				<div class="contentMyRooms" style="left: 0%; width: 100%;">
					<div class="background"></div>

					<div class="heading">
						<div class="title">
							<img src="application/assets/images/colors/ico_myRooms.png" height="15" />
							<p style="float: left;">Meus Ambientes</p>
							<div class="clear"></div>
						</div>
						<div class="clear"></div>
					</div>

					<div class="nav">
						<div class="tip">							
							<p>Confira abaixo seus ambientes salvos</p>
						</div>

						<ul class="menu">
							<li>
								<button type="button" class="sub-tile buttomMyRooms">
									<span>Cozinha</span>
								</button>
							</li>
							<li>
								<button type="button" class="sub-tile buttomMyRooms">
									<span>Quarto</span>
								</button>
							</li>
							
							<div class="clear"></div>
						</ul>

					</div>
				</div>
				<!-- MY ROOMS -->



				<!-- MY ROOMS IMAGENS -->
				<div class="contentImagesMyRooms" style="left: 100%; width: 100%;">

					<div class="background"></div>

					<div class="top">
						<div class="button">
							<img src="application/assets/images/colors/button_back.png" height="12" />
						</div>
						<div class="title">
							Cozinha
						</div>
					</div>

					<div class="nav">

						<ul class="menu">
							<li class="list">
								<button type="button" class="sub-tile buttomMyRoomsSaved">
									<span>Minha Cozinha</span>
								</button>
							</li>
							<li class="list">
								<button type="button" class="sub-tile buttomMyRoomsSaved">
									<span>Teste de cores</span>
								</button>
							</li>
							
							<div class="clear"></div>
						</ul>

					</div>

				</div>
				<!-- MY ROOMS IMAGENS -->


				
			</div>

		</div>

		<!-- Colors:Tool -->
		<div class="tool">
			
			<div class="buttons">

				<div class="close" >
					<img src="application/assets/images/colors/button_close.png" height="53" >	
				</div>

				<div class="actions" >

					<div class="reset">
						<img src="application/assets/images/colors/button_reset.png" height="72" >
					</div>

					<div class="colors">
						<div class="pointColor">•</div>
						<img src="application/assets/images/colors/button_color.png" height="72" >
					</div>

					<div class="save">
						<img src="application/assets/images/colors/button_save.png" height="72" >
					</div>

					<div class="plus">
						<img src="application/assets/images/colors/button_plus.png" height="58" >
					</div>

				</div>

			</div>


			<div class="colorbox">

				<div class="background"></div>

				<div class="nav">
					<div class="tip">
						<p>Selecione qual meio você gostaria<br> de pegar sua cor</p>
					</div>

					<ul class="menu">
						<li>
							<button type="button" class="sub-tile paleta">								
								<span>PALETA DE CORES</span><br>
								<img class="logo" src="application/assets/images/colors/logo_sherwin2.jpg" height="31" />
							</button>
						</li>
						<li>
							<button type="button" class="sub-tile image">
								<span>IMAGEM</span>
							</button>
						</li>
						<div class="clear"></div>
					</ul>
					<div class="clear"></div>
				</div>

			</div>


			<!-- COLOR LIST -->
			<div class="paletaColorBox">

				<div class="background"></div>

				<div class="top">
					<div class="button">
						<img src="application/assets/images/colors/button_back.png" height="12" />
					</div>
					<div class="title">
						Paleta de Cores
					</div>
				</div>

				<div class="popColor">
					<div class="popbox">
						<div class="color"></div>
						<div class="text">
							<span class="name">Nome</span>
							<span class="code">COde</span>
						</div>
					</div>
					<div class="ico">
						<img src="application/assets/images/colors/paleta_popup_ico.png" height="6" />
					</div>
				</div>

				<!-- BEGIN COLORS -->
				<div class="colors" >

					<ul class="list">
						<div class="clear"></div>
					</ul>

					<div class="clear"></div>

				</div>
				<!-- END COLORS -->


				<div class="navigate swiper-container" >
					
					<div class="button swiper-wrapper">
						<button type="button" class="swiper-slide bt yellow">AMARELO</button>
						<button type="button" class="swiper-slide bt blue">AZUL</button>
						<button type="button" class="swiper-slide bt white">BRANCO</button>
						<button type="button" class="swiper-slide bt orange">LARANJAS</button>
						<button type="button" class="swiper-slide bt cold">NEUTRO FRIO</button>
						<button type="button" class="swiper-slide bt hot">NEUTRO QUENTE</button>
						<button type="button" class="swiper-slide bt green">VERDE</button>
						<button type="button" class="swiper-slide bt red">VERMELHO</button>
						<button type="button" class="swiper-slide bt purple">VIOLETA</button>
					</div>
					
				</div>

			</div>


			<!-- COLOR PICK IMAGE -->
			<div class="imageColorBox">

				<div class="background"></div>

				<div class="top">
					<div class="button">
						<img src="application/assets/images/colors/button_back.png" height="12" />
					</div>
					<div class="title">
						Foto
					</div>
				</div>

			</div>


			<!-- SAVE IMAGE -->
			<div class="savebox">

				<div class="background"></div>

				<div class="nav">
					<div class="tip">
						<p>Gostaria de salvar essa <br>imagem em sua galeria ?</p>
					</div>

					<ul class="menu">
						<li>
							<button type="button" class="sub-tile">
								<img class="disk" src="application/assets/images/metrics/icon_salve.png" height="31" />
								<span>Salvar</span>
							</button>
						</li>
						<div class="clear"></div>
					</ul>
					<div class="clear"></div>
				</div>

			</div>



			<div class="image">
				<img src="application/assets/images/colors/Cozinha_1_ipad.jpg" height="768" >
			</div>

		</div>


		<!-- MYROOMS IMAGES -->
		<div class="myRoomsGalery">

			<!-- buttons -->
			<div class="buttons">

				<div class="close" >
					<img src="application/assets/images/colors/button_close.png" height="53" >	
				</div>

				<div class="info" >
					<img class="on" src="application/assets/images/colors/button_info_on.png" height="53" >
					<img class="out" src="application/assets/images/colors/button_info_out.png" height="53" >
				</div>

			</div>
			<!-- buttons -->

			<div class="infos">
				<div class="top">
					<span class="title">TíTulos</span>
					<span class="date">DATA - HORARIO</span>
				</div>

				<div class="popColor">
					<div class="popbox">
						<div class="text">
							<span class="name">Nome</span>
							<span class="code">COde</span>
						</div>
					</div>
					<div class="ico">
						<img src="application/assets/images/colors/paleta_popup_ico.png" height="6" />
					</div>
				</div>


				<div class="colors">
					<span class="text">Cores Utilizadas:</span>
					<div class="list">
						<button type="button" class="boxColor"></button>
						<button type="button" class="boxColor"></button>
						<button type="button" class="boxColor"></button>
					</div>
				</div>
			</div>


			<div class="image">
				<img src="application/assets/images/colors/image_galery.png" height="460" >
			</div>

		</div>

		<div class="clear"></div>

	</div>

</div>