
<div id="talk" class="view">

	<!-- Talk:Page -->
	<div class="page">

		<div class="content">

			<div class="heading">
				<div class="title">
					<img src="application/assets/images/talk/icon_talk.png" height="46" />
					<p>Fale com a gente</p>
					<div class="clear"></div>
				</div>
				<div class="clear"></div>
			</div>

			<img class="divisor" src="application/assets/images/appliance/divisor.gif" height="2" />

			<div class="nav">
				<ul class="menu">
					<li>
						<button type="button" class="nav-tile">
							<img class="stores" src="application/assets/images/talk/icon_stores.png" height="34" />
							<span>Nossas<br />Lojas</span>
						</button>
					</li>

					<li>
						<button type="button" class="nav-tile">
							<img class="sac" src="application/assets/images/talk/icon_sac.png" height="105" />
							<span>Sac</span>
						</button>
					</li>

					<li>
						<button type="button" class="nav-tile">
							<img class="social" src="application/assets/images/talk/icon_social.png" height="53" />
							<span>Redes<br />sociais</span>
						</button>
					</li>
					<li>
						<button type="button" class="nav-tile">
							<img class="faq" src="application/assets/images/talk/icon_faq.png" height="70" />
							<span>Faq</span>
						</button>
					</li>
					<div class="clear"></div>
				</ul>
				<div class="clear"></div>
			</div>

		</div>


		<div class="pages">

			<div class="nav-button-back back">
				<a href="javascript: void(0);">
					<img src="application/assets/images/app/button_back.jpg" height="44" />
				</a>
			</div>


			<!-- BEING OUR STORES -->
			<div id="ourStores_wrapper">

				<div class="wrapper_top">
					<div class="wrapper_title">
						<img src="application/assets/images/talk/icon_ourStores.png" height="16" />
						<p>Nossas Lojas</p>
						<div class="clear"></div>
					</div>

					<div class="clear"></div>

					<img class="divisor" src="application/assets/images/appliance/divisor.gif" height="2" />
				</div>

				<div class="subtitle">
					<span>
						Veja qual é a DICICO mais próxima de você.
					</span>
				</div>

				<div class="menu">
					<div class="button btNearest">
						<div class="image"><img src="application/assets/images/talk/ico_ourStores_stores.jpg" height="21" /></div>
						<div class="line"></div>
						<div class="label">Loja mais próxima</div>
					</div>

					<div class="button btAll">
						<div class="image"><img src="application/assets/images/talk/ico_ouStores_all.jpg" height="11" /></div>
						<div class="line"></div>
						<div class="label">Todas as lojas</div>
					</div>
				</div>

			</div>
			<!-- END OUR STORES -->




			
			<!-- BEGIN MAPS GOOGLE -->
			<div id="maps_wrapper">
				<div class="buttons">
					<div class="info">
						<img class="on" src="application/assets/images/talk/button_info_on.png" height="53.5" />
						<img class="out" src="application/assets/images/talk/button_info_out.png" height="53.5" />
					</div>
					<div class="close">
						<img src="application/assets/images/talk/button_close.png" height="53.5" />
					</div>
				</div>

				<div class="infos">
					<div class="header_info">
						<div class="storesImg">
							<img src="application/assets/images/talk/image_stores.jpg" height="76.5" />
						</div>

						<div class="infoText">
							<div class="name">Aricanduva</div>
							<div class="adress">
								<span style="color: #FFF;"><b>Endereço:</b></span>
								<span>Av. Aricanduva, 5555 - (Shopping Aricanduva | Auto Shopping).</span><br>
								<span style="color: #FFF;"><b>Cep:</b></span>
								<span>03527-908</span>
							</div>
						</div>
					</div>

					<div class="footer">
						<div class="hours">
							<span style="position: relative; color: #FFF; text-align: center; width: 100%;"><b>Horário de funcionamento:</b></span>
							<div class="imgText">
								<span>
									Seg. a sáb. das 9h às 21h<br>
									Dom. e fer. das 11h às 19hb
								</span>
							</div>						
						</div>
						<div class="phones">
							<span style="position: relative; color: #FFF; text-align: center; center; width: 100%;"><b>Informações:</b></span>
							<div class="imgText">
								<span>(11) 2723-6200</span>
							</div>						
						</div>
					</div>
				</div>

				<!-- MAPS -->
				<div class="maps" id="mapNaTela">
					<!-- <img src="application/assets/images/talk/maps.jpg" /> -->
				</div>
			</div>
			<!-- END MAPS GOOGLE -->




			<!-- BEGIN STORES LIST -->
			<div id="list_wrapper">

				<div class="top">
					<div class="title">
						<img src="application/assets/images/talk/icon_ourStores.png" height="16" />
						<p>Nossas Lojas</p>
						<div class="clear"></div>
					</div>

					<div class="clear"></div>

					<img class="divisor" src="application/assets/images/appliance/divisor.gif" height="2" />
				</div>

				<div class="close">
					<img src="application/assets/images/talk/stores_all_close.jpg" height="23" />
				</div>


				<div class="contentList">

					<!-- BEGIN LIST -->
					<ul id="accordionListRegions" class="divList listaTodasLojas">

						<!-- ////////// BEGIN LIST REGIONS ITEM ///////////-->						
						<li>
						
							<h4 class="title" >São Paulo - Capital</h4>

							<!-- CONTENT ITENS CITIES -->
							<div id="accordionListCities" class="lst_cities">

								<ul>

									<!-- ////////// BEGIN LIST CITIES ITEM ///////////-->
									<li>
										<h5 class="tl_cities">São Paulo</h5>

										<div class="ct_cities">								
											<img src="application/assets/images/talk/stores_all_image.jpg" height="143" />

											<div class="address">
												<div class="line">
													<span style="color: #2d3136;">Endereço:</span>
													<span>Av. Aricanduva, 5555 - (Shopping Aricanduva | Auto Shopping).</span><br>
												</div>
												
												<div class="line">
													<span  style="color: #2d3136;">Cep:</span>
													<span>03527-908</span>
												</div>

												<div class="line">
													<span  style="color: #2d3136;">Gerente Geral:</span>
													<span>Felipe Borges</span>										
												</div>

												<div class="line">
													<span  style="color: #2d3136;">Email:</span>
													<span> f_borges@dicico.com.br</span>
												</div>

											</div>

											<div class="clear"></div>

											<div class="infos">
												<div class="hours">
													<span style="position: relative; color: #FFF; text-align: center; width: 100%;"><b>Horário de funcionamento:</b></span>
													<div class="imgText">
														<span>
															Seg. a sáb. das 9h às 21h<br>
															Dom. e fer. das 11h às 19hb
														</span>
													</div>						
												</div>
												<div class="phones">
													<span style="position: relative; color: #FFF; text-align: center; center; width: 100%;"><b>Informações:</b></span>
													<div class="imgText">
														<span>(11) 2723-6200</span>
													</div>						
												</div>
											</div>
										</div>									
									</li>
									<!-- ////////// END LIST CITIES ITEM ///////////-->	

									<!-- ////////// BEGIN LIST CITIES ITEM ///////////-->
									<li>									
										<h5 class="tl_cities">Rio de Janeiro</h5>

										<div class="ct_cities">								
											<img src="application/assets/images/talk/stores_all_image.jpg" height="143" />

											<div class="address">
												<div class="line">
													<span style="color: #2d3136;">Endereço:</span>
													<span>Av. Aricanduva, 5555 - (Shopping Aricanduva | Auto Shopping).</span><br>
												</div>
												
												<div class="line">
													<span  style="color: #2d3136;">Cep:</span>
													<span>03527-908</span>
												</div>

												<div class="line">
													<span  style="color: #2d3136;">Gerente Geral:</span>
													<span>Felipe Borges</span>										
												</div>

												<div class="line">
													<span  style="color: #2d3136;">Email:</span>
													<span> f_borges@dicico.com.br</span>
												</div>

											</div>

											<div class="clear"></div>

											<div class="infos">
												<div class="hours">
													<span style="position: relative; color: #FFF; text-align: center; width: 100%;"><b>Horário de funcionamento:</b></span>
													<div class="imgText">
														<span>
															Seg. a sáb. das 9h às 21h<br>
															Dom. e fer. das 11h às 19hb
														</span>
													</div>						
												</div>
												<div class="phones">
													<span style="position: relative; color: #FFF; text-align: center; center; width: 100%;"><b>Informações:</b></span>
													<div class="imgText">
														<span>(11) 2723-6200</span>
													</div>						
												</div>
											</div>
										</div>
									</li>
									<!-- ////////// END LIST CITIES ITEM ///////////-->

								</ul>	

							</div>

						</li>
						<!-- ////////// BEGIN LIST REGIONS ITEM ///////////-->





						<!-- ////////// BEGIN LIST REGIONS ITEM ///////////-->						
						<li>
						
							<h4 class="title" >Bahia</h4>

							<!-- CONTENT ITENS CITIES -->
							<div id="accordionListCities" class="lst_cities">

								<ul>

									<!-- ////////// BEGIN LIST CITIES ITEM ///////////-->
									<li>
										<h5 class="tl_cities">Salvador</h5>

										<div class="ct_cities">								
											<img src="application/assets/images/talk/stores_all_image.jpg" height="143" />

											<div class="address">
												<div class="line">
													<span style="color: #2d3136;">Endereço:</span>
													<span>Av. Aricanduva, 5555 - (Shopping Aricanduva | Auto Shopping).</span><br>
												</div>
												
												<div class="line">
													<span  style="color: #2d3136;">Cep:</span>
													<span>03527-908</span>
												</div>

												<div class="line">
													<span  style="color: #2d3136;">Gerente Geral:</span>
													<span>Felipe Borges</span>										
												</div>

												<div class="line">
													<span  style="color: #2d3136;">Email:</span>
													<span> f_borges@dicico.com.br</span>
												</div>

											</div>

											<div class="clear"></div>

											<div class="infos">
												<div class="hours">
													<span style="position: relative; color: #FFF; text-align: center; width: 100%;"><b>Horário de funcionamento:</b></span>
													<div class="imgText">
														<span>
															Seg. a sáb. das 9h às 21h<br>
															Dom. e fer. das 11h às 19hb
														</span>
													</div>						
												</div>
												<div class="phones">
													<span style="position: relative; color: #FFF; text-align: center; center; width: 100%;"><b>Informações:</b></span>
													<div class="imgText">
														<span>(11) 2723-6200</span>
													</div>						
												</div>
											</div>
										</div>									
									</li>
									<!-- ////////// END LIST CITIES ITEM ///////////-->	

									<!-- ////////// BEGIN LIST CITIES ITEM ///////////-->
									<li>									
										<h5 class="tl_cities">Bahia</h5>

										<div class="ct_cities">								
											<img src="application/assets/images/talk/stores_all_image.jpg" height="143" />

											<div class="address">
												<div class="line">
													<span style="color: #2d3136;">Endereço:</span>
													<span>Av. Aricanduva, 5555 - (Shopping Aricanduva | Auto Shopping).</span><br>
												</div>
												
												<div class="line">
													<span  style="color: #2d3136;">Cep:</span>
													<span>03527-908</span>
												</div>

												<div class="line">
													<span  style="color: #2d3136;">Gerente Geral:</span>
													<span>Felipe Borges</span>										
												</div>

												<div class="line">
													<span  style="color: #2d3136;">Email:</span>
													<span> f_borges@dicico.com.br</span>
												</div>

											</div>

											<div class="clear"></div>

											<div class="infos">
												<div class="hours">
													<span style="position: relative; color: #FFF; text-align: center; width: 100%;"><b>Horário de funcionamento:</b></span>
													<div class="imgText">
														<span>
															Seg. a sáb. das 9h às 21h<br>
															Dom. e fer. das 11h às 19hb
														</span>
													</div>						
												</div>
												<div class="phones">
													<span style="position: relative; color: #FFF; text-align: center; center; width: 100%;"><b>Informações:</b></span>
													<div class="imgText">
														<span>(11) 2723-6200</span>
													</div>						
												</div>
											</div>
										</div>
									</li>
									<!-- ////////// END LIST CITIES ITEM ///////////-->

								</ul>	

							</div>
							
						</li>
						<!-- ////////// BEGIN LIST REGIONS ITEM ///////////-->







					</ul>
					<!-- END LIST -->
				</div>

			</div>
			<!-- END STORES LIST -->



			<!-- BEGIN SAC -->
			<div id="sac_wrapper">

				<a href="javascript: void(0);" class="nav-button-back" >
					<img class="back" src="application/assets/images/app/button_back.jpg" height="44" />
				</a>

				<div class="wrapper_top">
					
					<div class="wrapper_title">
						<img src="application/assets/images/talk/sac_ico.jpg" height="33" />
						<span>SAC</span>
					</div>

					<img class="divisor" src="application/assets/images/appliance/divisor.gif" height="2" />
				</div>

				<div class="divList">

					<!-- BEGIN ITEM -->
					<div class="item">
						<div class="title">Televendas</div>
						<div class="desc">Com o Televendas Dicico, você compra por telefone, sem sair de casa. De forma prática, rápida e confortável. Ligue para nós!</div>
						<div class="button">
							<div class="image">
								<img src="application/assets/images/talk/sac_button_ico.png" height="16" />
							</div>
							<div class="number">
								0300 0 342426
							</div>
						</div>
						<div class="info">Segunda – Feira a Sexta-Feira das 08:00h às 20:00h <br>Sábado das 08:00h às 18:00h</div>
					</div>
					<!-- END ITEM -->

				</div>
			
			</div>
			<!-- BEGIN SAC -->



			<!-- BEGIN FAQ -->
			<div id="faq_wrapper">

				<div class="nav-button-back" >
					<img class="back" src="application/assets/images/app/button_back.jpg" height="44" />
				</div>

				<div class="wrapper">

					<div class="search">
						<div class="field">
							<input type="text" class="input" value="Pesquisar" onblur="if (this.value == '') { this.value = 'Pesquisar'; }" onfocus="if (this.value == 'Pesquisar') {this.value = '';}" >
							<img class="buttonSearch" src="application/assets/images/talk/faq_search_ico.jpg" height="14" />
						</div>					
					</div>

					<div class="wrapper_top">
					
						<div class="wrapper_title">
							<img src="application/assets/images/talk/faq_ico.jpg" height="20" />
							<span>FAQ</span>
						</div>

						<img class="divisor" src="application/assets/images/appliance/divisor.gif" height="2" />
					</div>

					<div class="subtitle">					
						Perguntas e Respostas					
					</div>

					<div class="divList">

						<!-- ITEM SUBJECT -->
						<div class="item">
							<div class="title">Produtos.Pisos e Revestimentos:</div>
							<ul id="accordionFaq" class="divList_qst" > <!-- --> </ul>
						</div>
					</div>
						<!-- ITEM SUBJECT -->


					</ul>

				</div>
				

			</div>
			<!-- END FAQ -->

		</div>

		<!-- BEGIN SOCIAL -->
			<div id="social_wrapper">

				<a href="javascript: void(0);" class="nav-button-back" >
					<img class="back" src="application/assets/images/app/button_back.jpg" height="44" />
				</a>

				<div class="wrapper_top">
					<div class="wrapper_title">
						<img src="application/assets/images/talk/social_ico.jpg" height="16" />
						<p>REDES SOCIAIS</p>
						<div class="clear"></div>
					</div>

					<div class="clear"></div>

					<img class="divisor" src="application/assets/images/appliance/divisor.gif" height="2" />
				</div>

				<div class="subtitle">
					<span>
						Siga a DICICO e aproveite nossas dicas e promoções.
					</span>
				</div>

				<div class="wrapper">

					<div class="twitter">
						<div class="image">
							<img src="application/assets/images/talk/social_twitter_ico.jpg" height="41" />
						</div>
						<div class="button">
							<a href="https://twitter.com/dicico" class="twitter-follow-button" data-show-count="false" data-lang="pt" data-size="large">Seguir @dicico</a>
							<script>!function(d,s,id){var js,fjs=d.getElementsByTagName(s)[0],p=/^http:/.test(d.location)?'http':'https';if(!d.getElementById(id)){js=d.createElement(s);js.id=id;js.src=p+'://platform.twitter.com/widgets.js';fjs.parentNode.insertBefore(js,fjs);}}(document, 'script', 'twitter-wjs');</script>
						</div>
					</div>

					<div class="facebook">
						<div class="image">
							<img src="application/assets/images/talk/social_facebook_ico.jpg" height="33" />
						</div>
						<div class="button">
							<div id="fb-root"></div>
							<script>(function(d, s, id) {
							  var js, fjs = d.getElementsByTagName(s)[0];
							  if (d.getElementById(id)) return;
							  js = d.createElement(s); js.id = id;
							  js.src = "//connect.facebook.net/en_US/all.js#xfbml=1";
							  fjs.parentNode.insertBefore(js, fjs);
							}(document, 'script', 'facebook-jssdk'));</script>
						</div>
					</div>

				</div>


			</div>
			<!-- END SOCIAL -->

	</div>

	

</div>