
<div id="tips" class="view">

	<!-- Calculator:Page -->
	<div class="page">

		<div class="content">
			<div class="heading">
				<div class="title">
					<img src="application/assets/images/tips/icon_tips.png" height="40" />
					<p>Dicas</p>
					<div class="clear"></div>
				</div>
				<div class="clear"></div>
			</div>

			<img class="divisor" src="application/assets/images/appliance/divisor.gif" height="2" />

			<div class="nav">
				<ul class="menu listMenu"><!--  --></ul>
				<div class="clear"></div>
			</div>
		</div>


		<div class="pages">
			<!-- BEGIN BUILDING -->
			<div id="bulding_wrapper">
				<div class="nav-button-back back">
					<a href="javascript: void(0);">
						<img src="application/assets/images/app/button_back.jpg" height="44" />
					</a>
				</div>

				<div class="wrapper">
					<div class="search">
						<div class="field">
							<input type="text" class="input" value="Pesquisar" onblur="if (this.value == '') { this.value = 'Pesquisar'; }" onfocus="if (this.value == 'Pesquisar') {this.value = '';}" >
							<img src="application/assets/images/talk/faq_search_ico.jpg" height="14" />
						</div>					
					</div>

					<div class="wrapper_top">					
						<div class="wrapper_title">
							<span>CONSTRUÇÃO</span>
						</div>
						<img class="divisor" src="application/assets/images/appliance/divisor.gif" height="2" />
					</div>

					<div class="subtitle">Veja</div>

					<ul id="accordionBuilding" class="divList"><!-- --></ul>
				</div>
			</div>
			<!-- BEGIN BUILDING -->			

		</div>
	</div>
</div>