
<div id="work" >

	<!-- WORK:Page -->
	<div class="page">

		<div class="wrapper_top">
			<div class="wrapper_title">
				<img src="application/assets/images/WORK/ico_work.jpg" height="16" />
				<p>MINHA OBRA</p>
				<div class="clear"></div>
			</div>

			<div class="clear"></div>

			<img class="divisor" src="application/assets/images/appliance/divisor.gif" height="2" />

			<div class="subtitle">
				Descubra em que fase está a sua obra marcando quais itens já foram concluídos ou estão em andamento, após a seleção clique em próximo para saber o nosso feed-back e responda novas perguntas.
			</div>

		</div>


		<div class="wrapper">

			<div class="content">

				<!-- FASE 1 -->
				<div id="fase1" class="fases">
					<div class="question">Fase 1 - Alicerce / Fundação</div>

					<div class="options">
						<input type="checkbox" value="Baldrame" id="fase1_1" name="fase1" />
						<label for="fase1_1">
							<span>Baldrame</span>
						</label>				
					</div>

					<div class="options">
						<input type="checkbox" value="Sapata" id="fase1_2" name="fase1" />
						<label for="fase1_2">
							<span>Sapata</span>
						</label>				
					</div>

					<div class="options">
						<input type="checkbox" value="Estaca" id="fase1_3" name="fase1" />
						<label for="fase1_3">
							<span>Estaca</span>
						</label>				
					</div>
					
					<div class="options">
						<input type="checkbox" value="Tubulão" id="fase1_4" name="fase1" />
						<label for="fase1_4">
							<span>Tubulão</span>
						</label>				
					</div>
				</div>

				<!-- FASE 2 -->
				<div id="fase2" class="fases">
					<div class="question">Fase 2 - Estrutura</div>

					<div class="options">
						<input type="checkbox" value="Pilares" id="fase2_1" name="fase2" />
						<label for="fase2_1">
							<span>Pilares</span>
						</label>				
					</div>

					<div class="options">
						<input type="checkbox" value="Vigas" id="fase2_2" name="fase2" />
						<label for="fase2_2">
							<span>Vigas</span>
						</label>				
					</div>

					<div class="options">
						<input type="checkbox" value="Laje" id="fase2_3" name="fase2" />
						<label for="fase2_3">
							<span>Laje</span>
						</label>				
					</div>
					
					<div class="options">
						<input type="checkbox" value="Telhado" id="fase2_4" name="fase2" />
						<label for="fase2_4">
							<span>Telhado</span>
						</label>				
					</div>
				</div>

				<!-- FASE 3 -->
				<div id="fase3" class="fases">
					<div class="question">Fase 3 - Alvenaria</div>

					<div class="options">
						<input type="checkbox" value="Construcao_paredes" id="fase3_1" name="fase3" />
						<label for="fase3_1">
							<span>Construção de paredes</span>
						</label>				
					</div>
				</div>

				<!-- FASE 4 -->
				<div id="fase4" class="fases">
					<div class="question">Fase 4 - Instalações</div>

					<div class="options">
						<input type="checkbox" value="inst_eletrica" id="fase4_1" name="fase4" />
						<label for="fase4_1">
							<span>Instalações elétricas</span>
						</label>				
					</div>

					<div class="options">
						<input type="checkbox" value="inst_hidraulica" id="fase4_2" name="fase4" />
						<label for="fase4_2">
							<span>Instalações hidráulicas</span>
						</label>				
					</div>

					<div class="options">
						<input type="checkbox" value="inst_gas" id="fase4_3" name="fase4" />
						<label for="fase4_3">
							<span>Instalações de gás</span>
						</label>				
					</div>

					<div class="options">
						<input type="checkbox" value="inst_ar" id="fase4_4" name="fase4" />
						<label for="fase4_4">
							<span>Instalações de ar condicionado</span>
						</label>				
					</div>
				</div>

				<!-- FASE 5 -->
				<div id="fase5" class="fases fases1">
					<div class="question">Fase 5 - Acabamento</div>

					<div class="options">
						<input type="checkbox" value="inst_piso_revestimento" id="fase5_1" name="fase5" />
						<label for="fase5_1">
							<span>Inst. de pisos e revestimentos</span>
						</label>				
					</div>

					<div class="options">
						<input type="checkbox" value="inst_forro" id="fase5_2" name="fase5" />
						<label for="fase5_2">
							<span>Inst. de forro</span>
						</label>				
					</div>

					<div class="options">
						<input type="checkbox" value="inst_portas" id="fase5_3" name="fase5" />
						<label for="fase5_3">
							<span>Inst. de portas e janelas</span>
						</label>				
					</div>

					<div class="options">
						<input type="checkbox" value="inst_ferragens" id="fase5_4" name="fase5" />
						<label for="fase5_4">
							<span>Inst. de ferragens</span>
						</label>				
					</div>

					<div class="options">
						<input type="checkbox" value="inst_loucas" id="fase5_5" name="fase5" />
						<label for="fase5_5">
							<span>Inst. de louças</span>
						</label>				
					</div>

					<div class="options">
						<input type="checkbox" value="inst_metais" id="fase5_6" name="fase5" />
						<label for="fase5_6">
							<span>Inst. de metais e acessórios</span>
						</label>				
					</div>

					<div class="options">
						<input type="checkbox" value="inst_vidros" id="fase5_7" name="fase5" />
						<label for="fase5_7">
							<span>Inst. de vidros</span>
						</label>				
					</div>

					<div class="options">
						<input type="checkbox" value="inst_box" id="fase5_8" name="fase5" />
						<label for="fase5_8">
							<span>Inst. de Box</span>
						</label>				
					</div>
					
				</div>	


				<!-- FASE 6 -->
				<div id="fase6" class="fases fases2">
					<div class="question">Fase 6 - Decoração</div>

					<div class="options">
						<input type="checkbox" value="inst_lustres" id="fase6_1" name="fase6" />
						<label for="fase6_1">
							<span>Inst. de lustres e luminárias</span>
						</label>				
					</div>

					<div class="options">
						<input type="checkbox" value="inst_tomadas" id="fase6_2" name="fase6" />
						<label for="fase6_2">
							<span>Inst. de tomadas e interruptores</span>
						</label>				
					</div>

					<div class="options">
						<input type="checkbox" value="pintura" id="fase6_3" name="fase6" />
						<label for="fase6_3">
							<span>Pintura</span>
						</label>				
					</div>

					<div class="options">
						<input type="checkbox" value="artigos_decoracao" id="fase6_4" name="fase6" />
						<label for="fase6_4">
							<span>Artigos de utilidades domésticas e decoração</span>
						</label>				
					</div>				
				</div>


			</div>

			<div class="buttonNext">
				<button> >> Próximo </button>
			</div>

		</div>

		<div class="message">

			<!-- FASE 1 -->
			<div id="msg_text1" class="text" >
				<span style="font-size: 21px;">FASE 1</span><br><br>
				Você está na fase do ALICERCE/FUNDAÇÃO, esta é a primeira etapa da sua obra e uma das mais importantes.<br>
				É importante seguir as normas técnicas para garantir a segurança de sua construção e escolher produtos normatizados.<br><br>
				Recomendamos a consultoria de um engenheiro civil e/ou arquiteto.<br>
				<div class="buttonOk">
					<button> OK </button>
				</div>
			</div>

			<!-- FASE 2 -->
			<div id="msg_text2" class="text" >
				<span style="font-size: 21px;">FASE 2</span><br><br>
				Você está na fase da ESTRUTURA, faltam 4 etapas para sua obra ser concluída.<br>
				A estrutura pode ser de madeira, metálica ou de concreto armado, cada uma tem sua vantagem. Se precisar de orientação, venha a uma de nossas lojas. Nossos vendedores podem ajudar nesta escolha.<br><br>
				Procure um profissional especializado para garantir a segurança e resistência da estrutura.<br>
				<div class="buttonOk">
					<button> OK </button>
				</div>
			</div>


			<!-- FASE 3 -->
			<div id="msg_text3" class="text" >
				<span style="font-size: 21px;">FASE 3</span><br><br>
				Você está na fase da ALVENARIA, faltam 3 etapas para sua obra ser concluída.<br>
				Nesta etapa deve se escolher o tipo certo de tijolo e argamassa para garantir a resistência, isolamento acústico e térmico e a vedação. Mas não se preocupe, porque nossos vendedores podem tirar todas as suas dúvidas. Mas atenção. Caso tenha crianças ou pessoas alérgicas em casa, cuidado com o pó.<br>

				<div class="buttonOk">
					<button> OK </button>
				</div>
			</div>

			<!-- FASE 4 -->
			<div id="msg_text4" class="text" >
				<span style="font-size: 21px;">FASE 4</span><br><br>
				Você está na fase das INSTALAÇÕES, faltam apenas 2 etapas para concluir sua obra.<br>
				O cuidado e a atenção nesta etapa são muito importantes para que não apareçam problemas inesperados no futuro. Procure nossos vendedores, que poderão indicar os produtos adequados para cada necessidade. <br><br>

				Na Dicico você encontra as melhores marcas para garantir a qualidade de suas instalações. Passe em uma de nossas lojas e confira.<br>
				<div class="buttonOk">
					<button> OK </button>
				</div>
			</div>

			<!-- FASE 5 -->
			<div id="msg_text5" class="text" >
				<span style="font-size: 21px;">FASE 5</span><br><br>

				<div class="msg_text_a">
					Você está na fase de ACABAMENTO.<br>
					Use a criatividade para combinar elementos e cores. Nossos vendedores podem te ajudar nas escolhas e apresentar as últimas tendências do mercado. <br>
					Abuse da nossa variedade de cores e opções de iluminação para valorizar o ambiente e acrescentar mais vida. <br>
					E se você gosta de pôr a mão na massa, lembre-se sempre de usar os equipamentos de segurança.<br>
				</div>
				<div class="msg_text_b">
					Você está nas fases de INSTALAÇÕES e ACABAMENTO. Sua obra já está quase no fim.<br>
					O cuidado e a atenção às instalações são muito importantes para que não apareçam problemas futuros. <br>
					No acabamento, use a criatividade para combinar elementos e cores. Nossos vendedores podem te ajudar nas escolhas e apresentar as últimas tendências do mercarcado.<br>
					E se você gosta de pôr a mão na massa, lembre-se sempre de usar os equipamentos de segurança.<br>
				</div>
				
				<div class="buttonOk">
					<button> OK </button>
				</div>
			</div>

			<!-- FASE 6 -->
			<div id="msg_text6" class="text" >
				<span style="font-size: 21px;">FASE 5</span><br><br>

				<div class="msg_text_a">
					Você está na fase de DECORAÇÃO. <br>
					Agora é a hora de deixar sua casa com a sua cara. Na Dicico você encontra a maior variedade de produtos para deixar sua casa mais funcional e aconchegante. <br>
					Nossos vendedores estão sempre à sua disposição para ajudar nas escolhas e sugerir os produtos que mais combinem com o seu ambiente.<br>
				</div>
				<div class="msg_text_b">
					Você está nas fases de ACABAMENTO e DECORAÇÃO.<br>
					Use a criatividade para combinar elementos, cores e objetos para deixar sua casa com a sua cara. <br>
					Nossos vendedores podem te ajudar nas escolhas e apresentar as últimas tendências do mercado.<br>
					E se você gosta de pôr a mão na massa, lembre-se sempre de usar os equipamentos de segurança.<br>
				</div>
				
				<div class="buttonOk">
					<button> OK </button>
				</div>
			</div>

			<div class="background"></div>
			
		</div>

		<div class="lineHouses"></div>



	</div>


</div>